ul {
  list-style: none;
}
#datetime-picker {
  border-radius: 4px;
  width: 272px;
  padding: 8px 0 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.timer {
  display: flex;
  justify-content: space-between;
  width: 346px;
  height: 72px;
  margin-top: 32px;
}

.field {
  width: 60px;
  text-align: center;
}

.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #989898;
  background: #cfcfcf;
  cursor: pointer;
}

.form {
  width: 300px;
}

input[name='delay'] {
  width: 97%;
  height: 30px;
  margin-bottom: 20px;
}

fieldset {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.form button {
  width: 99%;
  margin-top: 20px;
  padding: 5px;
  cursor: pointer;
  background: #4e75ff;
  color: #ffffff;
}

.form button:hover {
  background: #6c8cff;
}
